/* Add your CSS styles for the modal here */
.modal-container {
    display: none;
    /* Add other styles as needed */
  }

body {
    font-family: 'Montserrat', sans-serif;
}

.modal-content .content {
    margin-top: 24px;
}

.block.newsletter .form.subscribe {
    display: table;
    width: 100%;
}

.input-default-button {
    position: relative;
}

.input-default-button input.emailInput {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .002em;
    width: 100%;
    height: auto;
    display: block;
    padding: 12px;
    border: 1px solid #ededed;
    border-radius: 3.5px;
    background-color: transparent;
    max-width: 320px;
    margin: 0 auto;
}

.default-modal#modal1 {
    background: #fff !important;
    box-shadow: 6px 10px 10px #000 !important;
}

button.submit-btn {
    border: 0;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.input-default-button label {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 20px;
    letter-spacing: .002em;
    position: absolute;
    pointer-events: none;
    left: 18px;
    top: 50%;
    opacity: 0;
    transform: translate(0, -50%);
    transition: .2s ease all;
}

.btn-newsletter {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 18px;
}

.fieldset.login {
    border: 0;
}

.login-form-modal {
    background-color: #fdbb2d !important;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: rgba(34, 193, 195, 0.3) 0px 9px 16px;
}

.login-form-modal button.modal-close-btn:after {
    content: 'Close';
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    font-family: 'Montserrat';
}

.form-login #username-login, .form-login #pass-login  {
    margin-bottom: 20px;
    padding: 12px 10px;
    width: 300px;
    max-width: 100%;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 2px 9px #000;
}

.action.login.primary{
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    
}

.action.login.primary:hover {
    border: 2px solid #000;
    color: #fff;
    transition: 1s;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.form-login .actions-toolbar {
    display: inline-flex;
    flex-direction: column;
}

.wf-text-center {
    text-align: center;
}

.example .modal-content {
    line-height: 24px;
}
 
.modal-main-wrap {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
    z-index: 999;
    width: fit-content;
    margin: 0 auto;
}
 
.modal-wrap {
    position: relative;
}

.seperator .example {
    background-image: url('https://cdn.pixabay.com/photo/2023/09/03/11/13/mountains-8230502_1280.jpg');
    background-size: cover;
    background-position: revert;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* background: linear-gradient(90deg, rgb(182 176 122 / 60%) 0%, rgba(142,133,13,0.03702731092436973) 61%, rgb(0 212 255 / 38%) 100%); */
}

.modal-button {
    padding: 12px;
    background-color: #000;
    border: 1px solid #282828;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 25px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: .75em 2em;
    position: relative;
    text-transform: uppercase;
    background: rgb(34,193,195);
    box-shadow: rgba(34, 193, 195, 0.3) 0px 9px 16px !important;
}

.modal-button:hover {
    animation: glow 1s ease-in infinite;
    color: #fff;
}

.modal-button::before {
    animation: glow 1s ease-in infinite;
    background: #000;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
    
.modal-button:hover::before {
    filter: blur(20px);
    opacity: 1;
}

@keyframes glow {
    0% {
      background: #000;
    }
    25% {
      background: #000;
    }
    100% {
      background: #010101;
    }
  }

div#modal1,
div#modal2,
div#modal3,
div#modal4,
div#modal5 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    min-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    background-color: #fdbb2d !important;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 9px 16px !important;

}

/* .modal-with-overlay .modal-overlay.custom-overlay-class{
    background-color: rgba(51,51,51,0.85);
} */

.modal-1,
.modal-2,
.modal-3,
.modal-4,
.modal-5 {
    position: relative;
}
 
button.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}
 
button.modal-close-btn:after {
    content: '\f2d3';
    font-size: 30px;
    display: inline-block;
    font-family: fontawesome;
}
 
.modal-overlay.custom-overlay-class{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color : rgba(51,51,51,0.55);
    z-index: 1;
}
   
.extendeable-modal {
    text-align: center;
    padding: 40px 0 120px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-shadow: rgba(34, 193, 195, 0.3) 0px 9px 16px !important;
}

.extendeable-modal .widget {
    margin-top: 200px;
}
.extendeable-modal label {
    font-size: 20px;
    font-weight: 600;
}
.extendeable-modal img {
    min-width: 24px !important;
    min-height: 24px !important;
}
.extendeable-modal input {
    width: 100px;
    height: 60px;
}

.information-modal .modal-content {
    text-align: left;
}

.information-modal .modal-content ul {
    padding-left: 0;
}

  /* Add other CSS styles for the modal components */
